@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Regular.woff2') format('woff2'),
       url('./assets/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Medium.woff2') format('woff2'),
       url('./assets/fonts/Switzer-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-SemiBold.woff2') format('woff2'),
       url('./assets/fonts/Switzer-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Bold.woff2') format('woff2'),
       url('./assets/fonts/Switzer-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Switzer', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

